target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!allure-results/environment.properties
!allure-report/history/categories-trend.json

### IDE ###
.idea/
idea/
.idea
.vscode
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
**/src/main/resources/*
!*/src/main/resources/

# Ignorar todos os arquivos em src/main/resources
src/main/resources/*

# Com exceção de example.properties
!src/main/resources/example.properties

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store